<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz49ZA3BgDdnK60MkN_pm0-Hid-uVFWEw</string>
	<key>GCM_SENDER_ID</key>
	<string>1030078810363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusGrubOfficial</string>
	<key>PROJECT_ID</key>
	<string>campus-grub-official</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-grub-official.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030078810363:ios:55a3a95c4442215073c85e</string>
</dict>
</plist>